@import '/src/style/style.scss';

.choose-symptoms {
  &__symptoms-list {
    .ant-checkbox-group {
      display: grid;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
    .ant-checkbox:hover .ant-checkbox-inner {
      border-color: $core_70;
    }
    .ant-checkbox-checked::after {
      border: none;
    }
    .ant-checkbox-wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 12px;
      border: 1px solid $core_30;
      border-radius: 2px;
    }
    .ant-checkbox {
      margin-right: 20px;
      top: -13px;
    }
  }

  &__tab {
    .ant-tabs-nav {
      position: absolute;
    }
    .ant-tabs-tab.ant-tabs-tab {
      text-align: start;
    }
    .ant-tabs-content-holder {
      border: none;
      margin-top: 7px;
      display: grid;
      justify-content: center;
    }
    .ant-tabs-ink-bar {
      display: none;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      box-shadow: 0px 1px 8px rgba(14, 67, 109, 0.16);
    }
  }
  &__text-area {
    width: 510px;
  }
  &__button-container {
    display: grid;
    grid-template-columns: 1fr 690px 1fr;
  }
  &__button-wrapper {
    display: flex;
    justify-content: end;
  }
  &__cancel-button {
    width: 124px;
    margin-right: 20px;
  }
  &__next-button {
    width: 124px;
  }
}

@include media-mobile {
  .choose-symptoms {
    &__collapse {
      display: grid;
      margin-bottom: 12px;
      justify-content: center;
    }
    &__symptoms-list {
      width: 200px;
      .ant-checkbox-wrapper {
        margin: 8px 0 0 0;
        border-radius: 10px;
      }
    }
    &__collapse-wrapper {
      min-height: calc(100vh - 250px);
    }
    &__button-container {
      display: flex;
      justify-content: center;
      padding: 20px;
      margin: 0;
      box-shadow: 0px -2px 8px rgba(9, 68, 114, 0.08);
    }
    &__cancel-button {
      width: 124px;
      margin-right: 20px;
    }
    &__next-button {
      width: 162px;
    }
  }
}

@include media-desktop {
  .choose-symptoms {
    &__collapse {
      display: grid;
      margin-bottom: 12px;
      justify-content: center;
    }
    &__symptoms-list {
      width: 450px;
      .ant-checkbox-wrapper {
        margin: 8px 0 0 0;
        border-radius: 10px;
      }
    }
    &__collapse-wrapper {
      min-height: calc(100vh - 250px);
    }
    &__button-container {
      display: flex;
      justify-content: center;
      padding: 20px;
      margin: 0;
      box-shadow: 0px -2px 8px rgba(9, 68, 114, 0.08);
    }
    &__cancel-button {
      width: 124px;
      margin-right: 20px;
    }
    &__next-button {
      width: 162px;
    }
  }
}

@include media-tv {
  .choose-symptoms {
    &__tab {
      .ant-tabs-nav {
        position: absolute;
        left: 120px;
      }
    }
  }
}
