@import '/src/style/style.scss';

.text-field-wrapper {
  .ant-form-item-label > label {
    position: absolute;
    top: -5px;
    left: 5px;
    font-family: 'Avenir';
    background: $white;
    color: $core_90;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  .ant-input {
    background: url('../../public/Arrow.svg') no-repeat 96% 90px;
    border: 1px solid $core_50;
    border-radius: 2px;
    resize: none;
    padding: 20px 40px 0 5px;

    &:focus {
      background: url('../../public/ActiveArrow.svg') no-repeat 96% 90px;
      &::placeholder {
        color: $core_100;
      }
    }
  }
}
