@import '/src/style/style.scss';

.default-input::placeholder{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $core_50;
}

.input-wrapper{
    display: flex;
    position: relative;
}

.default-input{
    background: $white;
    border: 1px solid $core_50;
    border-radius: 2px;
    width: 328px;
    height: 56px;
    outline: none;

        &:focus{
        background: $white;
        border: 2px solid $primary_80;
        border-radius: 2px;

        &::placeholder{
            color: $core_100;
        }
    }
}

.react-tel-input{
  width: 328px;
}

.react-tel-input .form-control{
  height: 56px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $core_50;
}

.react-tel-input .flag-dropdown{
  border: none;
  background: none;
}

.code-input{
  height: 56px;
  border: none;
  border-bottom: 1px solid $core_50;
  width: 44px;
  margin-right: 12px;
  outline: none;
  padding-left: 20px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: $core_100;
}

.placeholder {
  color: $core_70;
  background: $white;
  left: 20px;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  transition: transform 200ms, color 200ms;
  top: 18px;
}

.default-input:focus ~ .placeholder,
.default-input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-25px) translateX(10px) scale(0.75);
}

.default-input:focus ~ .placeholder {
  color: $primary_80;
  font-size: 14px;
  padding: 0 5px;
}


.text-field-input{
  background: url("../../public/Arrow.svg") no-repeat 340px 90px;
  border: 1px solid $core_50;
  border-radius: 2px; 
  width: 376px;
  resize: none;
  padding-right: 40px;

  &::placeholder{
    position: absolute;
    bottom: 10px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $core_50;
  }

  &:focus{
    background: url("../../public/ActiveArrow.svg") no-repeat 340px 90px;
    &::placeholder{
      color: $core_100;
    }
  }
}

