@import '/src/style/style.scss';

.code-wrapper {
  input {
    height: 56px;
    border: none;
    border-bottom: 1px solid $core_50;
    width: 44px;
    margin-right: 12px;
    outline: none;
    padding-left: 20px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $core_100;
  }
}

@include media-mobile {
  .code-wrapper {
    input {
      width: 34px;
    }
  }
}
