@import 'src/style/style.scss';

.request-card {
  border: 1px solid $core_30;
  border-radius: 2px;
  background: $white;
  padding: 40px 20px;
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
  }

  &__request-type {
    color: $core_70;
    letter-spacing: 0.1px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
  }

  &__urgency {
    margin: 0 0 16px -8px;
  }

  &__body {
    display: flex;
  }

  &__body-title {
    color: $core_70;
  }

  &__body-description {
    color: $core_100;
    padding-left: 8px;
  }

  &__patient-name {
    color: $core_100;
  }

  &__line {
    height: 1px;
    background: $core_30;
    width: 90%;
    margin: 0 auto;
  }

  &__footer-title {
    color: $core_70;
    margin-bottom: 16px;
  }

  &__footer-info {
    margin: 30px 0 40px 0;
  }

  &__doctor-info {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__doctor-name {
    color: $core_100;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
  }
  &__patient-info-wrapper {
    padding: 20px 0;
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
