@import '/src/style/style.scss';

.select-wrapper {
  .ant-select.ant-select-in-form-item {
    width: 328px;
    border: 1px solid $core_50;
    border-radius: 2px;
    background: $white;
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    border-color: $core_50;
    box-shadow: none;
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background: none;
    height: 45px;
  }

  .ant-select-selection-overflow {
    height: 56px;
  }

  .ant-select-multiple .ant-select-selection-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background: $primary_20;
    height: 40px;
    padding: 7px;
    .select-checkbox {
      display: none;
    }
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: 56px;
  }

  .ant-select.ant-select-in-form-item .ant-select-selection-item {
    border-radius: 16px;
  }

  .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
  .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    display: flex;
    align-items: center;
  }

  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background: $primary_20;
  }

  .select-default .ant-select-selection-item-remove svg {
    fill: $primary_80;
    width: 14px;
    height: 14px;
    margin-top: 3px;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
  }
}

.dropdown-wrapper {
  .ant-select-item-option-content {
    margin-left: 5%;
  }

  .ant-select-item-option {
    height: 48px;
    display: flex;
    align-items: center;
  }

  .ant-checkbox-wrapper {
    position: absolute;
    left: 5px;
    bottom: 12.5px;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    width: 18px;
    height: 18px;
    background: $primary_80;
  }
}
