@import 'src/style/style.scss';

.checkbox-wrapper {
  .ant-checkbox-checked .ant-checkbox-inner {
    background: $primary_80;
    border-radius: 2px;
    border: none;
  }

  .ant-checkbox-inner {
    border: 2px solid $core_70;
  }
}
