.checkbox-wrapper{

    .ant-checkbox-checked .ant-checkbox-inner{
        background: #1E427B;
        border-radius: 2px;
        border: none;
    }

    .ant-checkbox-inner{
        border: 2px solid #5E6878;
    }
}