@import '/src/style/style.scss';

.personal-card {
  &.wrapper {
    width: 600px;
    display: flex;

    &:hover {
      .personal-card__button {
        opacity: 1;
        display: flex;
      }
    }
  }

  &__name-container {
    display: flex;
    justify-content: space-between;
  }

  &.default-wrapper {
    width: 292px;
    border: 1px solid $core_30;
    border-radius: 2px;
  }

  &__info {
    width: 100%;
    overflow: hidden;
    padding: 20px 26px 0 20px;
  }

  &__name {
    color: $core_100;
    margin-bottom: 8px;
  }

  &__birthday {
    color: $core_70;
    margin-bottom: 8px;
  }

  &__number {
    color: $primary_70;
    margin-bottom: 8px;
  }

  &__email {
    overflow: hidden;
    text-overflow: ellipsis;
    color: $primary_70;
    margin-bottom: 16px;
  }

  &__edit {
    text-transform: uppercase;
    color: $primary_80;
    margin-top: 5px;
    margin-left: 19px;
  }

  &__button {
    padding: 15px 0 0 10px;
    display: flex;
    opacity: 0;
  }

  &__symptom-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px;
  }

  &__symptom {
    margin: 0 5px 15px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__comment-container {
    padding: 0 0 0 20px;
  }
  &__comment-title {
    color: $core_70;
    margin-bottom: 5px;
  }
  &__comment-content {
    color: $core_100;
    padding-bottom: 7px;
  }
}

@include media-desktop {
  .personal-card {
    &.wrapper.wrapper {
      width: 390px;
    }
    &.default-wrapper {
      border: none;
      width: 455px;
    }
  }
}

@include media-mobile {
  .personal-card {
    &.wrapper {
      width: 281px;
    }
    &.default-wrapper {
      border: none;
      width: 343px;
    }
  }
}
