@import '/src/style/style.scss';

.choose-symptoms {
  &__symptoms-list {
    width: 500px;
    .ant-checkbox-group {
      display: grid;
    }
    .ant-checkbox-wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 12px;
      border: 1px solid $core_30;
      border-radius: 2px;
    }
    .ant-checkbox {
      margin-right: 20px;
      top: -13px;
    }
  }

  &__tab {
    margin-left: 14%;

    .ant-tabs-tab.ant-tabs-tab {
      text-align: start;
    }
    .ant-tabs-content-holder {
      border: none;
      margin-top: 8px;
    }
    .ant-tabs-ink-bar {
      display: none;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      box-shadow: 0px 1px 8px rgba(14, 67, 109, 0.16);
    }
  }
  &__text-area {
    width: 510px;
  }
  &__button-container {
    margin-left: 50%;
  }
  &__cancel-button {
    width: 124px;
    margin-right: 20px;
  }
  &__next-button {
    width: 124px;
  }
}

@include media-mobile {
  .choose-symptoms {
    &__collapse {
      display: grid;
      margin-bottom: 12px;
      justify-content: center;
    }
    &__symptoms-list {
      width: 360px;
      .ant-checkbox-wrapper {
        margin: 8px 0 0 0;
        border-radius: 10px;
      }
    }
    &__button-container {
      display: flex;
      flex-direction: column;
      padding: 20px;
      margin: 0;
      box-shadow: 0px -2px 8px rgba(9, 68, 114, 0.08);
    }
    &__button {
      display: flex;
      justify-content: space-between;
    }
    &__line {
      width: 134px;
      height: 5px;
      display: table;
      margin: 43px auto;
      background: $core_100;
      border-radius: 100px;
    }
    &__cancel-button {
      width: 124px;
      margin-right: 20px;
    }
    &__next-button {
      width: 162px;
    }
  }
}

@include media-monitor {
  .choose-symptoms {
    &__tab {
      margin-left: 21%;
    }
  }
}
