$primary_100: #0C1A31;
$primary_90: #12284B;
$primary_80: #1E427B;
$primary_70: #2858A3;
$primary_60: #427AD1;
$primary_50: #6390D9;
$primary_40: #9CB9E7;
$primary_30: #CEDCF3;
$primary_20: #E6ECF9;
$primary_10: #F3F6FC;

$core_100: #090A0B;
$core_90: #2D3139;
$core_80: #434A56;
$core_70: #5E6878;
$core_60: #7C8698;
$core_50: #98A1AE;
$core_40: #BAC0C9;
$core_30: #DDE0E4;
$core_20: #F4F5F6;;
$core_10: #F9FAFB;

$white: #FFFFFF;

$mint-dark: #0E666C;
$mint-main: #1ABAC6;
$mint-light: #A5EEF3;

$warning_dark: #D3970D;
$warning_light: #FBEBC5;

$error_dark: #CE1212;
$error_light_1: #FDC4C4;

$success_dark: #166438;