$primary_100: #0c1a31;
$primary_90: #12284b;
$primary_80: #1e427b;
$primary_70: #2858a3;
$primary_60: #427ad1;
$primary_50: #6390d9;
$primary_40: #9cb9e7;
$primary_30: #cedcf3;
$primary_20: #e6ecf9;
$primary_10: #f3f6fc;

$core_100: #090a0b;
$core_90: #2d3139;
$core_80: #434a56;
$core_70: #5e6878;
$core_60: #7c8698;
$core_50: #98a1ae;
$core_40: #bac0c9;
$core_30: #dde0e4;
$core_20: #f4f5f6;
$core_10: #f9fafb;

$white: #ffffff;

$mint-dark: #0e666c;
$mint-main: #1abac6;
$mint-light: #a5eef3;

$warning_dark: #d3970d;
$warning_main: #f3bd41;
$warning_light: #fbebc5;

$error_dark: #ce1212;
$error_light_1: #fdc4c4;

$success_dark: #166438;

$mobile: 480px;
$desktop: 1200px;
$tv: 1600px;

@mixin media-max($max) {
  @media screen and (max-width: $max) {
    @content;
  }
}

@mixin media-min($min) {
  @media screen and (min-width: $min) {
    @content;
  }
}

@mixin media-middle($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin media-desktop {
  @include media-middle($mobile, $desktop) {
    @content;
  }
}

@mixin media-mobile {
  @include media-max($mobile) {
    @content;
  }
}

@mixin media-tv {
  @include media-min($tv) {
    @content;
  }
}
