@import '/src/style/style.scss';

.request-header {
  display: flex;
  justify-content: space-around;

  svg {
    margin-top: 20px;
    path {
      fill: #5e6878;
    }
  }

  &__title {
    color: $core_100;
  }

  &__step-wrapper {
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
  }

  &__step-description {
    margin: 5px 0 0 32px;
  }

  &__step-title {
    color: $core_100;
    margin: 4px 0 8px 0;
  }

  &__step-subtitle {
    color: $core_70;
  }
}
