@import 'src/style/style.scss';

.request-details-header {
  position: absolute;
  height: 300px;
  width: 100%;
  background: $primary_80;
  svg {
    cursor: pointer;
    path {
      fill: $white;
    }
  }
  &__wrapper {
    padding: 36px 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__title {
    color: $white;
  }
  &__mobile-title {
    display: none;
  }
}

@include media-desktop {
  .request-details-header {
    &__title {
      font-size: 30px;
      color: $white;
      display: flex;
      justify-content: center;
    }
  }
}

@include media-mobile {
  .request-details-header {
    padding: 0 16px;
    background: $primary_70;
    &__mobile-title {
      display: flex;
      margin-top: 28px;
      color: $white;
    }
    &--mobile {
      display: flex;
      justify-content: space-between;
    }
    &__title {
      display: none;
    }
  }
}
