@import 'src/style/style.scss';

.request-header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &.mobile {
    display: flex;
    justify-content: space-between;
  }

  svg {
    cursor: pointer;
    path {
      fill: $core_70;
    }
  }

  &__title {
    color: $core_100;
  }

  &__step-wrapper {
    display: grid;
    grid-template-columns: 60px minmax(100px, 580px);
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
  }

  &__step-title {
    color: $core_100;
    margin: 0 0 8px 0;
  }

  &__step-subtitle {
    color: $core_70;
  }

  &__modal-title {
    color: $core_100;
    margin-bottom: 40px;
  }

  &__modal-button {
    display: flex;
    justify-content: end;
    gap: 20px;
  }
}

@include media-desktop {
  .request-header {
    &__title {
      font-size: 30px;
      margin-top: -20px;
      color: $core_100;
      display: flex;
      justify-content: center;
    }
  }
}

@include media-mobile {
  .request-header {
    &__title {
      margin-top: 28px;
    }
  }
}
