@import 'src/style/style.scss';

.request-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  svg {
    cursor: pointer;
    path {
      fill: $core_70;
    }
  }

  &__title {
    color: $core_100;
  }

  &__request-details-header {
    .request-header__title {
      color: $white;
    }
    svg {
      cursor: pointer;
      path {
        fill: $white;
      }
    }
  }

  &__mobile-title {
    display: none;
  }
  &__step-wrapper {
    display: grid;
    grid-template-columns: 60px minmax(100px, 585px);
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
  }
  &__step-title {
    color: $core_100;
  }
  &__step-subtitle {
    color: $core_70;
  }
  &__modal-title {
    color: $core_100;
    margin-bottom: 40px;
  }
  &__modal-button {
    display: flex;
    justify-content: end;
    gap: 20px;
  }
  &__fixed-header {
    z-index: 2;
    position: fixed;
    background: $primary_80;
    height: 120px;
    width: 100%;
    top: 0;
    left: 0;
    .request-header__wrapper {
      margin: 28px 0 0 0;
    }
  }
}

@include media-desktop {
  .request-header {
    &__request-details-header {
      .request-header__title {
        color: $white;
      }
    }
    &__title {
      font-size: 30px;
      display: flex;
      justify-content: center;
    }
  }
}

@include media-mobile {
  .request-header {
    &__request-details-header {
      .request-header__mobile-title {
        color: $white;
      }
    }
    &__mobile-title {
      display: flex;
      margin-top: 28px;
    }
    &--mobile {
      display: flex;
      justify-content: space-between;
    }
    &__title {
      display: none;
    }
    &__step-title {
      letter-spacing: 0.15px;
      font-size: 18px;
    }
  }
}
