@import 'src/style/style.scss';

.main-header {
  &__info {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  svg {
    cursor: pointer;
  }

  &__title {
    color: $core_70;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 28px;
  }

  &__line {
    height: 1px;
    background: $core_30;
  }

  &__burger {
    display: none;
  }
}

@include media-desktop {
  .main-header {
    &__title {
      display: none;
    }
    &__burger {
      display: flex;
      position: relative;
      width: 18px;
      height: 10px;
      span,
      &::after,
      &::before {
        height: 2px;
        width: 100%;
        position: absolute;
        background: $core_70;
      }
      span {
        top: 10px;
      }
      &::after {
        content: '';
        bottom: 8px;
      }
      &::before {
        content: '';
        top: 5px;
      }
    }
  }
}

@include media-mobile {
  .main-header {
    &__title {
      display: none;
    }

    &__burger {
      display: flex;
      position: relative;
      width: 18px;
      height: 10px;
      span,
      &::after,
      &::before {
        height: 2px;
        width: 100%;
        position: absolute;
        background: $core_70;
      }
      span {
        top: 10px;
      }
      &::after {
        content: '';
        bottom: 8px;
      }
      &::before {
        content: '';
        top: 5px;
      }
    }
  }
}
