@import '/src/style/style.scss';

.main{
    &-header{
        &.wrapper{
            margin-bottom: 40px;
        }
        &__info{
            margin: 15px 17px 15px 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;    
        }

        &__title{
            color: $core_70;
        }

        &__icons{
            .notification{
                margin: 0 25px 3px 0;
            }
        }

        &__line{
            height: 1px;
            background: $core_30;
        }
    }
}