@import 'src/style/style.scss';

.collapse {
  &.ant-collapse-borderless {
    background: $white;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
  }
  &.ant-collapse-borderless
    > .ant-collapse-item
    > .ant-collapse-content
    > .ant-collapse-content-box {
    padding: 0;
    margin-bottom: 24px;
  }
  &.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 20px 20px 20px 0;
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid $core_30;
    border-radius: 10px;
  }
  &.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    margin: 0;
  }
  &.ant-collapse-borderless > .ant-collapse-item {
    border: none;
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 60px;
    }
  }
  .rotate-arrow {
    left: 0;
    transition: all 0.2s linear;
    transform: rotate(0deg);
    &--active {
      transform: rotate(180deg);
    }
  }
}
