@import 'src/style/style.scss';

.collapse {
  &__transition {
    transition: 0.3s;
  }

  &__content {
    overflow: hidden;
    transition: height 0.2s ease-in-out;
  }

  .rotate-arrow {
    margin-top: 5px;
    left: 0;
    transition: all 0.2s linear;
    transform: rotate(180deg);
  }

  &__icon-button {
    display: flex;
    cursor: pointer;
    background: none;
    border: 1px solid $core_30;
    border-radius: 10px;

    &--active {
      .rotate-arrow {
        transform: rotate(360deg);
      }
      box-shadow: 0px 1px 8px rgba(14, 67, 109, 0.16);
    }
  }
}
