@import 'src/style/style.scss';

.symptoms-cards {
  display: grid;
  grid-template-columns: 45px minmax(100px, 606px);
  align-items: center;
  gap: 12px;
  margin-right: 5px;
  &__image {
    border-radius: 100%;
    border: 1px solid $core_30;
  }
  &__name {
    color: $core_100;
  }
}
