@import '/src/style/style.scss';

.visits-list {
  &.wrapper {
    margin-left: 5%;
  }

  &__layout {
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__title {
    margin: 0 0 24px;
    color: $core_100;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  }

  &__subtitle {
    margin-bottom: 32px;
  }
}
