@import '/src/style/style.scss';

.request-list {
  &__subtitle {
    color: $core_70;
    margin: 0 0 10px 21px;
  }

  &__card-wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: 530px;
  }
  .ant-form-item {
    margin: 0;
  }
  .ant-checkbox-input:focus {
    border-color: $core_70;
  }
  &__info {
    .ant-checkbox-group {
      display: grid;
      grid-template-columns: 664px;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus + .ant-checkbox-inner {
      border-color: $core_70;
    }
    .ant-checkbox-checked::after {
      border: none;
    }
    .ant-checkbox-wrapper {
      width: 100%;
      margin-bottom: 12px;
      border: 1px solid $core_30;
      border-radius: 2px;

      &:hover {
        background: $primary_10;
      }
    }

    .ant-checkbox {
      margin-left: 20px;
    }
  }

  &__next-button {
    margin-left: 20px;
  }

  &__button-wrapper {
    display: grid;
    grid-template-columns: 505px 200px;
    &.active {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: fixed;
      height: 50px;
      padding: 5px 10px;
      bottom: 0px;
      z-index: 40;
      background-color: $white;
    }
  }
  &__checkbox-wrapper {
    margin: 26px 0 14px 21px;
    .ant-checkbox + span {
      padding: 0;
    }
  }
}

@include media-desktop {
  .request-list {
    &__button-wrapper {
      display: grid;
      grid-template-columns: 290px 160px;
    }
    &__info {
      .ant-checkbox-group {
        grid-template-columns: 450px;
      }
    }

    &__card-wrapper {
      grid-template-columns: 450px;
    }
  }
}

@include media-mobile {
  .request-list {
    .ant-form-item {
      display: grid;
      grid-template-columns: 343px;
      justify-content: center;
    }
    &__subtitle-container {
      display: grid;
      justify-content: center;
      grid-template-columns: 360px;
    }
    &__info {
      .ant-checkbox-wrapper {
        box-shadow: 0px 1px 8px rgba(14, 67, 109, 0.16);
        border-radius: 10px;
      }
      .ant-checkbox-group {
        grid-template-columns: 343px;
      }
    }

    &__button-wrapper {
      display: flex;
      flex-direction: column;
      &.active {
        .request-list__cancel-wrapper {
          display: none;
        }
        .request-list__button-container {
          display: flex;
          justify-content: space-between;
        }
        padding: 0;
        position: fixed;
        height: 70px;
        bottom: 0px;
        z-index: 40;
        background-color: $white;
      }
    }
    &__card-wrapper {
      grid-template-columns: 1fr;
    }
    &__button-container {
      padding-top: 24px;
      display: grid;
      grid-template-columns: 160px 180px;
      justify-content: center;
      background: $white;
      box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1);
    }
    &__next-button {
      width: 162px;
    }
    &__cancel-button {
      width: 124px;
    }
    &__cancel-wrapper {
      display: grid;
      grid-template-columns: 200px 140px;
      justify-content: center;
      margin: 12px 0 24px 0;
    }
  }
}
