@import '/src/style/style.scss';

.modal {
  &__title {
    color: $core_100;
  }

  &__description {
    margin-top: 15px;
    color: $core_60;
  }

  &__form {
    display: grid;
    justify-content: center;
  }
}
