@import '/src/style/style.scss';

.modal-title{
    color: $core_100;
}

.modal-description{
    margin-top: 15px;
    color: $core_60;
}

.form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}