@import '/src/style/style.scss';

.modal{
    &-title{
        color: $core_100;
    }

    &-description{
        margin-top: 15px;
        color: $core_60;
    }

    &-form{
        margin: 20px 10% 40px 15%;
    }
}



