@import 'src/style/style.scss';

.booking-request {
  &__info-wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(50px, 664px);
  }
  &__map-card-wrapper {
    margin-bottom: 30px;
  }
  &__request-type-wrapper {
    margin-bottom: 32px;
  }
  &__block-item-wrapper {
    margin-bottom: 8px;
  }
  &__checkbox-title {
    color: $core_70;
  }
  &__agreement-title {
    color: $core_100;
    a {
      color: $primary_70;
    }
  }
  &__checkbox-title-wrapper {
    margin: 0 0 12px 24px;
  }
  &__cards-block-wrapper {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 30px;
    }
  }
  &__card-wrapper {
    border: 1px solid $core_30;
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__checkbox-wrapper {
    margin-bottom: 84px;
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus + .ant-checkbox-inner {
      border-color: $core_70;
    }
    .ant-checkbox-checked::after {
      border: none;
    }
  }
  &__button-container {
    background: $white;
    padding: 24px 0 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr minmax(200px, 664px) 1fr;
    justify-content: flex-end;
  }
  &__button-wrapper {
    display: grid;
    grid-template-columns: 124px 186px;
    gap: 20px;
    justify-content: flex-end;
  }
}

@include media-desktop {
  .booking-request {
    padding: 36px 16px 0;
    &__card-wrapper {
      border-radius: 10px;
      padding: 20px 0;
    }
    &__button-container {
      flex: 0 0 auto;
      padding: 16px;
      box-shadow: 0px -2px 8px rgba(9, 68, 114, 0.08);
      grid-template-columns: 1fr minmax(300px, 664px) 1fr;
    }
    &__button-wrapper {
      display: grid;
      grid-template-columns: 124px 162px;
      justify-content: space-between;
    }
  }
}

@include media-mobile {
  .booking-request {
    padding: 36px 16px 0;
    &__card-wrapper {
      border-radius: 10px;
      padding: 20px 0;
    }
    &__button-container {
      flex: 0 0 auto;
      padding: 16px;
      box-shadow: 0px -2px 8px rgba(9, 68, 114, 0.08);
      grid-template-columns: 1fr minmax(300px, 650px) 1fr;
    }
    &__button-wrapper {
      display: grid;
      grid-template-columns: 124px 162px;
      justify-content: space-between;
    }
  }
}
